.plpcard{
    // border: 1px solid red;
    width: 330px;
    max-height: 500px;
    border-radius: 5px;
    a{
        background-color: rgb(235, 235, 235);

    }
    .company_picture{
        width: 100%;
        height: 396px;
        // border-radius: 5px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

    }
    .job_details{
        font-size: 14px;
        line-height: 1.4;
        padding: 8px 16px;
        background-color: rgb(235, 235, 235);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        .company_name{
            color: #878787;
            font-size: 14px;
            font-weight: 700;
        }
        .price{
            font-size: 16px;
            font-weight: 500;
            color: #212121;
        }

    }
    &:hover{
        box-shadow: rgba(177, 38, 140, 0.22) 0px 2px 4px 0px, rgba(177, 38, 140, 0.52) 0px 2px 16px 0px;
        transition: box-shadow .2s ease-in-out;
            .job_details,a{
            background-image: linear-gradient(to right,#7A4297,#B1268C,#DD242F) ;
            color: #fff;
            }
    }

}