.search_form{
    .container{
        display: flex;
        justify-content: center;
        input{
            padding: 0 16px;
            border: 0;
            width: 350px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        button{
            cursor: pointer;
            border: 0;
            background-color: #fff;
            padding: 5px;
            padding-right: 12px;
            padding-bottom: 2px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }

}